/**
 * periodic table
 * template: search page
 */

.pt-404 .pt-searchform {
    margin: 48px auto;
    max-width: 520px;
}

.pt-404 .pt-searchform-icon {
    top: 12px;
    left: 18px;
    font-size: 24px;
}

.pt-404 .pt-searchform-box {
    width: 100%;
    height: 48px;
    padding: 0 24px 0 52px;
    font-size: 18px;
    border-radius: 24px;
}

.pt-404 .pt-search-label {
    margin: 24px 0 48px 0;
    text-align: right;
    font-size: 14px;
}