/* import fonts from google api */

@import url( 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap' );
@import url( 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' );

.icon {
    display: inline-block;
    text-transform: none;
    line-height: 1;
    white-space: nowrap;
    word-wrap: normal;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    direction: ltr;
}

/* global styling rules */

:root {
    --padding: 64px;
    --content: 1200px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.noscrollbar,
.noscrollbar * {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar,
.noscrollbar *::-webkit-scrollbar {
    display: none;
}

.noselect, .noselect * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-underline-offset: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var( --color-main );
    background: var( --color-bg );
}

h1 {
    margin: 0 0 32px 0;
    font-size: 24px;
}

h2 {
    margin: 0 0 24px 0;
    font-size: 18px;
}

h3 {
    margin: 12px 0;
    font-size: 16px;
}

p {
    line-height: 1.4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

sub {
    vertical-align: bottom;
    font-size: 75%;
}

sup {
    vertical-align: top;
    font-size: 75%;
}

abbr {
    cursor: help;
}

tt {
    margin-right: 12px;
    padding: 2px 6px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: bold;
    background: var( --gray-1 );
}

a {
    text-decoration: none;
    color: inherit;
}

a.red {
    color: var( --accent-3 );
}

.pt-page p a,
a.external,
a.weblink span,
a.pt-icon-link span {
    color: var( --accent-1 );
}

.pt-page p a:hover,
a.external:hover,
a.weblink:hover span,
a.pt-icon-link:hover span {
    text-decoration: underline;
}

a.weblink,
a.pt-icon-link {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    width: max-content;

    span {
        font-size: 14px;
    }

}

a.weblink {
    display: flex;
    margin-top: 8px;
}

a.pt-icon-link {
    margin: 12px 24px 0 0;
}

a.pt-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 20px;
    background: var( --gray-1 );
    border-radius: 18px;
}

input, select {
    height: 36px;
    padding: 0 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var( --color-main );
    background: var( --gray-0 );
    border: 1px solid var( --gray-2 );
    border-radius: 18px;
}

.pictogram {
    max-width: 56px;
    max-height: 56px;
}

.pictogram-small {
    max-width: 42px;
    max-height: 42px;
}

select {
    appearance: none;
    cursor: pointer;
}

.pt-input-container {
    position: relative;
}

.pt-input-container .icon {
    pointer-events: none;
    position: absolute;
    top: 8px;
    left: 14px;
    font-size: 20px;
    color: var( --gray-4 );
}

.pt-input-container input,
.pt-input-container select {
    padding-left: 42px;
}

.pt-searchform-input {
    width: 360px;
}

.pt-modified {
    margin: 0;
    text-align: right;
    font-size: 12px;
    color: var( --gray-3 );
}

/* global elements */

/* page */

.pt-page {
    margin: var( --padding ) auto;
    max-width: var( --content );
}

.pt-page-intro {
    margin: 0 20% 48px 0;
    font-size: 18px;
}

/* box */

.pt-box {
    margin-bottom: 24px;
    padding: 24px;
    background: var( --gray-0 );
    border-radius: 12px;
    box-shadow: var( --box-shadow );
    overflow: hidden;
}

.pt-box-flex {
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

.pt-box-columns {
    flex-flow: column nowrap;
}

.pt-box-center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* actions */

.pt-actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
}

.pt-actions a {
    width: 32px;
    height: 32px;
    font-size: 18px;
    border-radius: 16px;
}

/* categories */

.pt-categories {
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
    max-width: 540px;
}

.pt-category-link {
    padding: 4px 8px;
    font-size: 14px;
    color: var( --gray-0 );
    background: var( --accent-1 );
}

/* prop table */

.pt-prop-table-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.pt-prop-table {
    width: 100%;
    margin: 0 -6px;
    border-collapse: separate;
    border-spacing: 6px;
}

.pt-prop-table a {
    color: var( --accent-1 );
}

.pt-prop-table a:hover {
    text-decoration: underline;
}

.pt-prop-table-label,
.pt-prop-table-value {
    padding: 5px 10px;
    vertical-align: top;
    line-height: 1.5;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background: var( --gray-0 );
}

.pt-prop-table-label {
    text-align: left;
    background: var( --gray-1 );
}

.pt-prop-table .center {
    text-align: center;
}

.pt-prop-table .right {
    text-align: right;
}

.pt-prop-table .mini {
    width: 1px;
}

.pt-prop-table .sticky {
    position: sticky;
    left: 0;
    z-index: 1;
}

.pt-prop-table.zebra tbody tr:nth-child( even ) .pt-prop-table-value {
    background: var( --gray-1 );
}

.pt-prop-table.separators tr:not( :last-child ) .pt-prop-table-value {
    border-bottom: 1px dashed var( --gray-2 );
}

.pt-prop-table.breakable .pt-prop-table-label {
    width: 35%;
}

/* responsive adaptations */

@media all and ( max-width: 1240px ) {

    :root {
        --content: calc( 100vw - 40px );
    }

}

@media all and ( max-width: 1000px ) {

    .pt-page-intro {
        margin-right: 0;
    }

}

@media all and ( max-width: 700px ) {

    :root {
        --content: calc( 100vw - 20px );
        --padding: 32px;
    }

}

@media all and ( max-width: 600px ) {

    .pt-prop-table.breakable .pt-prop-table-row {
        display: flex;
        flex-flow: column nowrap;
    }

    .pt-prop-table.breakable .pt-prop-table-label {
        width: 100%;
    }

}

@media all and ( max-width: 500px ) {

    .pt-box {
        padding: 12px;
    }

}