/* import fonts from google api */

@import url( 'https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap' );
@import url( 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined' );

.icon {
    display: inline-block;
    text-transform: none;
    line-height: 1;
    white-space: nowrap;
    word-wrap: normal;
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    direction: ltr;
}

/* global styling rules */

:root {
    --padding: 64px;
    --content: 1200px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.noscrollbar,
.noscrollbar * {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar,
.noscrollbar *::-webkit-scrollbar {
    display: none;
}

.noselect, .noselect * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    text-underline-offset: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var( --color-main );
    background: var( --color-bg );
}

h1 {
    margin: 0 0 32px 0;
    font-size: 24px;
}

h2 {
    margin: 0 0 24px 0;
    font-size: 18px;
}

h3 {
    margin: 12px 0;
    font-size: 16px;
}

p {
    line-height: 1.4;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a.red {
    color: var( --accent-3 );
}

a.pt-icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    font-size: 20px;
    background: var( --gray-1 );
    border-radius: 18px;
}

input, select {
    height: 36px;
    padding: 0 14px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var( --color-main );
    background: var( --gray-0 );
    border: 1px solid var( --gray-2 );
    border-radius: 18px;
    outline: 0 none;
}

select {
    appearance: none;
    cursor: pointer;
}

.pt-input-container {
    position: relative;
}

.pt-input-container .icon {
    pointer-events: none;
    position: absolute;
    top: 8px;
    left: 14px;
    font-size: 20px;
    color: var( --gray-4 );
}

.pt-input-container input,
.pt-input-container select {
    padding-left: 42px;
}

.pt-searchform-input {
    width: 360px;
}