/**
 * periodic table
 * global scss variables
 */

$color-gray-0: #ffffff;
$color-gray-1: #f5f6f7;
$color-gray-2: #d3d4d5;
$color-gray-3: #b2b3b4;
$color-gray-4: #929393;
$color-gray-5: #737474;
$color-gray-6: #565657;
$color-gray-7: #3a3a3b;
$color-gray-8: #202121;
$color-gray-9: #010203;
$color-gray-10: #000000;

$color-main: $color-gray-9;
$color-bg: $color-gray-1;

$color-accent-1: #2a80ad;
$color-accent-2: #55c1fa;
$color-accent-3: #f25949;