.pt-hazard h3 {
    margin-top: 24px;
}

.pt-hazard-item {
    align-items: center;
}

.pt-hazard-statements-line {
    margin-bottom: 4px;
}

.pt-hazard-statements-line b {
    padding-right: 8px;
}

.pt-hazard-pictograms {
    gap: 8px;
}