.pt-legend {
    font-size: 13px;
}

.pt-legend-label {
    margin: 24px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.pt-legend-inner {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 140px, 1fr ) );
    gap: 12px 48px;
    max-width: 600px;
}

.pt-legend-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
}

.pt-legend-item-box {
    flex: 0 0 auto;
    width: 22px;
    height: 22px;
    background: var( --pt-bg, var( --gray-0 ) );
    border: 1px solid var( --gray-4 );
    border-radius: 11px;
}

a.pt-legend-item:hover .pt-legend-item-label {
    text-decoration: underline;
}