@import 'schemes';

.pt-legend {
    font-size: 13px;
}

.pt-legend-label {
    margin: 24px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.pt-legend-inner {
    display: grid;
    grid-template-columns: repeat( 4, max-content );
    gap: 12px 48px;
}

.pt-legend-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
    width: max-content;
}

.pt-legend-item-box {
    flex: 0 0 auto;
    width: 22px;
    height: 22px;
    background: var( --pt-bg, var( --gray-0 ) );
    border: 1px solid var( --gray-4 );
    border-radius: 11px;
}

.pt-legend-item:hover .pt-legend-item-label {
    text-decoration: underline;
}

@media all and ( max-width: 1000px ) {

    .pt-legend-inner {
        grid-template-columns: repeat( 3, 1fr );
    }

}

@media all and ( max-width: 800px ) {

    .pt-legend-inner {
        grid-template-columns: repeat( 2, 1fr );
    }

}

@media all and ( max-width: 500px ) {

    .pt-legend-inner {
        grid-template-columns: 1fr;
    }

}