@import 'pt';

.pt-microtable {
    grid-template-columns: repeat( 32, 1fr );
}

.pt-microtable-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

@media all and ( max-width: 1200px ) {

    .pt-microtable-item {
        font-size: 12px;
    }

}

@media all and ( max-width: 1000px ) {

    .pt-microtable-item {
        font-size: 10px;
    }

}

@media all and ( max-width: 800px ) {

    .pt-microtable-item {
        font-size: 0;
    }

}