.pt-microtable {
    display: grid;
    grid-template-columns: repeat( 32, 1fr );
    gap: 4px;
}

.pt-microtable-item {
    grid-column: var( --g );
    grid-row: var( --p );
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 14px;
    color: var( --pt-color, var( --color-main ) );
    background: var( --pt-bg, var( --gray-0 ) );
}