@import 'pt';

.pt-microtable {
    grid-template-columns: repeat( 32, 1fr );
}

.pt-table-gap {
    display: none;
}

.pt-microtable-item {
    grid-column: var( --c );
    grid-row: var( --r );
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

@media all and ( max-width: 1200px ) {

    .pt-microtable {
        grid-template-columns: repeat( 18, 1fr );
    }

    .pt-table-gap {
        display: block;
    }

    .pt-microtable-item {
        grid-column: var( --g );
        grid-row: var( --p );
        font-size: 16px;
    }

}

@media all and ( max-width: 1000px ) {

    .pt-microtable-item {
        font-size: 14px;
    }

}

@media all and ( max-width: 800px ) {

    .pt-microtable-item {
        font-size: 13px;
    }

}

@media all and ( max-width: 600px ) {

    .pt-microtable-item {
        font-size: 0;
    }

}