/* schemes */

[theme="light"] {

    --pt-scheme-fire-0: #ffe466;
    --pt-scheme-fire-1: #ffda69;
    --pt-scheme-fire-2: #ffd16e;
    --pt-scheme-fire-3: #ffc874;
    --pt-scheme-fire-4: #ffbf7c;
    --pt-scheme-fire-5: #ffb884;
    --pt-scheme-fire-6: #ffb18c;
    --pt-scheme-fire-7: #ffab95;
    --pt-scheme-fire-8: #ffa79c;
    --pt-scheme-fire-9: #ffa3a3;

    --pt-scheme-ice-0: #daf8f8;
    --pt-scheme-ice-1: #c5eef3;
    --pt-scheme-ice-2: #b0e4f0;
    --pt-scheme-ice-3: #9ddaee;
    --pt-scheme-ice-4: #8bcfed;
    --pt-scheme-ice-5: #7dc3ec;
    --pt-scheme-ice-6: #74b7eb;
    --pt-scheme-ice-7: #6faae8;
    --pt-scheme-ice-8: #719ce3;
    --pt-scheme-ice-9: #778ddc;

    --pt-special-green: #a7d699;
    --pt-special-violet: #e5c1e4;
    --pt-special-pink: #f7b2e1;
    --pt-special-beige: #dcc7b2;
    --pt-special-gray: #dedede;

    --pt-radioactive: rgba( 255 255 255 / 0.5 );

    --pt-text-shadow: unset;

}

[theme="dark"] {

    --pt-scheme-fire-0: #997e00;
    --pt-scheme-fire-1: #9a7400;
    --pt-scheme-fire-2: #9c6a00;
    --pt-scheme-fire-3: #9c6000;
    --pt-scheme-fire-4: #9d5500;
    --pt-scheme-fire-5: #9d4a00;
    --pt-scheme-fire-6: #9d3e00;
    --pt-scheme-fire-7: #9c3000;
    --pt-scheme-fire-8: #9b1f00;
    --pt-scheme-fire-9: #990000;

    --pt-scheme-ice-0: #729090;
    --pt-scheme-ice-1: #62898e;
    --pt-scheme-ice-2: #52828c;
    --pt-scheme-ice-3: #437a8c;
    --pt-scheme-ice-4: #34738c;
    --pt-scheme-ice-5: #286a8c;
    --pt-scheme-ice-6: #21618b;
    --pt-scheme-ice-7: #225889;
    --pt-scheme-ice-8: #294e85;
    --pt-scheme-ice-9: #33437f;

    --pt-special-green: #64805b;
    --pt-special-violet: #90638c;
    --pt-special-pink: #a26a74;
    --pt-special-beige: #918476;
    --pt-special-gray: #545454;

    --pt-radioactive: rgba( 0 0 0 / 0.5 );

    --pt-text-shadow:
        1px  1px 0 #000,
       -1px  1px 0 #000,
        1px -1px 0 #000,
       -1px -1px 0 #000;

}

/* scales */

@for $i from 0 through 9 {

    [type="scale"][scaling="1"] [prop="#{$i}"] {
        --pt-sf: calc( ( #{$i} * 0.04 ) + 0.64 );
    }

    [type="scale"][layer="_fire"] [prop="#{$i}"] {
        --pt-bg: var( --pt-scheme-fire-#{$i} );
    }

    [type="scale"][layer="_fire_reverse"] [prop="#{$i}"] {
        --pt-bg: var( --pt-scheme-fire-#{9 - $i} );
    }

    [type="scale"][layer="_ice"] [prop="#{$i}"] {
        --pt-bg: var( --pt-scheme-ice-#{$i} );
    }

    [type="scale"][layer="_ice_reverse"] [prop="#{$i}"] {
        --pt-bg: var( --pt-scheme-ice-#{9 - $i} );
    }

}

/* layer */

[layer="basicity"] [prop="slightly-acidic"],
[layer="block"] [prop="d"],
[layer="crystal_structure"] [prop="bcc"],
[layer="era"] [prop="classifying"],
[layer="goldschmidt"] [prop="chalcophile"],
[layer="group"] [prop="18"],
[layer="magnetic_ordering"] [prop="paramagnetic"],
[layer="phase"] [prop="gas"],
[layer="radioactivity"] [prop="highly-radioactive"],
[layer="set"] [prop="halogen"],
[layer="decay"] [prop="B-N"],
[layer="decay"] [prop="B-2N"],
[layer="half_life"] [prop="10yTo1ky"] {
    --pt-bg: var( --pt-scheme-fire-0 );
}

[layer="crystal_structure"] [prop="fcc"],
[layer="era"] [prop="revolution"],
[layer="goldschmidt"] [prop="lithophile"],
[layer="period"] [prop="5"],
[layer="radioactivity"] [prop="significantly-radioactive"],
[layer="set"] [prop="alkalimetal"],
[layer="superconductivity"] [prop="special"],
[layer="decay"] [prop="B-A"],
[layer="half_life"] [prop="1kyTo100ky"] {
    --pt-bg: var( --pt-scheme-fire-3 );
}

[layer="crystal_structure"] [prop="hcp"],
[layer="set"] [prop="alkalineearthmetal"],
[layer="decay"] [prop="N"],
[layer="decay"] [prop="2N"],
[layer="half_life"] [prop="100kyTo10My"] {
    --pt-bg: var( --pt-scheme-fire-6 );
}

[layer="basicity"] [prop="strongly-acidic"],
[layer="block"] [prop="f"],
[layer="crystal_structure"] [prop="dhcp"],
[layer="era"] [prop="enlightenment"],
[layer="goldschmidt"] [prop="siderophile"],
[layer="group"] [prop="3"],
[layer="group"] [prop="4"],
[layer="group"] [prop="5"],
[layer="group"] [prop="6"],
[layer="group"] [prop="7"],
[layer="group"] [prop="8"],
[layer="group"] [prop="9"],
[layer="group"] [prop="10"],
[layer="group"] [prop="11"],
[layer="group"] [prop="12"],
[layer="period"] [prop="6"],
[layer="magnetic_ordering"] [prop="diamagnetic"],
[layer="natural_occurrence"] [prop="decay"],
[layer="radioactivity"] [prop="radioactive"],
[layer="set"] [prop="transitionmetal"],
[layer="decay"] [prop="B-"],
[layer="decay"] [prop="2B-"],
[layer="half_life"] [prop="10MyTo50My"] {
    --pt-bg: var( --pt-scheme-fire-9 );
}

[layer="basicity"] [prop="slightly-alkaline"],
[layer="crystal_structure"] [prop="tetr"],
[layer="half_life"] [prop="less1min"] {
    --pt-bg: var( --pt-scheme-ice-0 );
}

[layer="basicity"] [prop="moderately-alkaline"],
[layer="era"] [prop="recent"],
[layer="goldschmidt"] [prop="atmophile"],
[layer="group"] [prop="1"],
[layer="magnetic_ordering"] [prop="antiferromagnetic"],
[layer="natural_occurrence"] [prop="synthetic"],
[layer="period"] [prop="3"],
[layer="phase"] [prop="liquid"],
[layer="set"] [prop="noblegas"],
[layer="decay"] [prop="EC+B+"],
[layer="half_life"] [prop="1minTo1h"] {
    --pt-bg: var( --pt-scheme-ice-2 );
}

[layer="basicity"] [prop="alkaline"],
[layer="crystal_structure"] [prop="rho"],
[layer="block"] [prop="s"],
[layer="group"] [prop="2"],
[layer="period"] [prop="2"],
[layer="decay"] [prop="B+P"],
[layer="decay"] [prop="EC"],
[layer="decay"] [prop="2EC"],
[layer="decay"] [prop="ECP"],
[layer="half_life"] [prop="1hTo1d"] {
    --pt-bg: var( --pt-scheme-ice-5 );
}

[layer="basicity"] [prop="strongly-alkaline"],
[layer="decay"] [prop="P"],
[layer="decay"] [prop="2P"],
[layer="half_life"] [prop="1dTo60d"] {
    --pt-bg: var( --pt-scheme-ice-8 );
}

[layer="basicity"] [prop="neutral"],
[layer="block"] [prop="p"],
[layer="crystal_structure"] [prop="orth"],
[layer="era"] [prop="quantum"],
[layer="group"] [prop="17"],
[layer="magnetic_ordering"] [prop="ferromagnetic"],
[layer="period"] [prop="4"],
[layer="radioactivity"] [prop="slightly-radioactive"],
[layer="set"] [prop="nonmetal"],
[layer="superconductivity"] [prop="normal"],
[layer="decay"] [prop="B+"],
[layer="decay"] [prop="2B+"],
[layer="half_life"] [prop="60dTo10y"] {
    --pt-bg: var( --pt-special-green );
}

[layer="crystal_structure"] [prop="sc"],
[layer="group"] [prop="19"],
[layer="set"] [prop="lanthanoide"],
[layer="decay"] [prop="A"] {
    --pt-bg: var( --pt-special-violet );
}

[layer="crystal_structure"] [prop="mon"],
[layer="era"] [prop="synthesis"],
[layer="group"] [prop="20"],
[layer="period"] [prop="1"],
[layer="radioactivity"] [prop="extremely-radioactive"],
[layer="set"] [prop="actinoide"],
[layer="decay"] [prop="SF"],
[layer="half_life"] [prop="less1sec"] {
    --pt-bg: var( --pt-special-pink );
}

[layer="basicity"] [prop="amphoterism"],
[layer="crystal_structure"] [prop="hex"],
[layer="group"] [prop="15"],
[layer="group"] [prop="16"],
[layer="set"] [prop="metalloid"],
[layer="decay"] [prop="IT"],
[layer="half_life"] [prop="more50My"] {
    --pt-bg: var( --pt-special-beige );
}

[layer="crystal_structure"] [prop="dc"],
[layer="era"] [prop="antiquity"],
[layer="goldschmidt"] [prop="synthetic"],
[layer="group"] [prop="13"],
[layer="group"] [prop="14"],
[layer="magnetic_ordering"] [prop="nonmagnetic"],
[layer="natural_occurrence"] [prop="primordial"],
[layer="period"] [prop="7"],
[layer="phase"] [prop="solid"],
[layer="set"] [prop="metal"],
[layer="superconductivity"] [prop="none"],
[layer="decay"] [prop="stable"],
[layer="half_life"] [prop="stable"] {
    --pt-bg: var( --pt-special-gray );
}

/* specials */

[prop="undefined"] {
    --pt-bg: transparent;
}

[layer="set"] .gas {
    --pt-accent: var( --accent-3 );
    --pt-shadow: var( --pt-text-shadow );
}

[layer="set"] .liquid {
    --pt-accent: var( --accent-1 );
    --pt-shadow: var( --pt-text-shadow );
}

[type="scale"] [prop="undefined"],
[type="value"] [prop="undefined"] {
    pointer-events: none;
    opacity: 0.25;
    filter: blur( 1px );
}

[type="prop"] [prop="1"] {
    --pt-bg: var( --pt-scheme-fire-5 );
}