[theme="light"] {

    --pt-scheme-fire-01: #ffe466;
    --pt-scheme-fire-02: #ffda69;
    --pt-scheme-fire-03: #ffd16e;
    --pt-scheme-fire-04: #ffc874;
    --pt-scheme-fire-05: #ffbf7c;
    --pt-scheme-fire-06: #ffb884;
    --pt-scheme-fire-07: #ffb18c;
    --pt-scheme-fire-08: #ffab95;
    --pt-scheme-fire-09: #ffa79c;
    --pt-scheme-fire-10: #ffa3a3;

    --pt-scheme-ice-01: #daf8f8;
    --pt-scheme-ice-02: #c5eef3;
    --pt-scheme-ice-03: #b0e4f0;
    --pt-scheme-ice-04: #9ddaee;
    --pt-scheme-ice-05: #8bcfed;
    --pt-scheme-ice-06: #7dc3ec;
    --pt-scheme-ice-07: #74b7eb;
    --pt-scheme-ice-08: #6faae8;
    --pt-scheme-ice-09: #719ce3;
    --pt-scheme-ice-10: #778ddc;

    --pt-radioactive: rgba( 255 255 255 / 0.5 );

}

[theme="dark"] {

    --pt-scheme-fire-01: #997e00;
    --pt-scheme-fire-02: #9a7400;
    --pt-scheme-fire-03: #9c6a00;
    --pt-scheme-fire-04: #9c6000;
    --pt-scheme-fire-05: #9d5500;
    --pt-scheme-fire-06: #9d4a00;
    --pt-scheme-fire-07: #9d3e00;
    --pt-scheme-fire-08: #9c3000;
    --pt-scheme-fire-09: #9b1f00;
    --pt-scheme-fire-10: #990000;

    --pt-scheme-ice-01: #729090;
    --pt-scheme-ice-02: #62898e;
    --pt-scheme-ice-03: #52828c;
    --pt-scheme-ice-04: #437a8c;
    --pt-scheme-ice-05: #34738c;
    --pt-scheme-ice-06: #286a8c;
    --pt-scheme-ice-07: #21618b;
    --pt-scheme-ice-08: #225889;
    --pt-scheme-ice-09: #294e85;
    --pt-scheme-ice-10: #33437f;

    --pt-radioactive: rgba( 0 0 0 / 0.5 );

}

[layer="set"] [prop="alkalimetal"] {
    --pt-bg: var( --pt-scheme-fire-05 );
}

[layer="set"] [prop="alkalineearthmetal"] {
    --pt-bg: var( --pt-scheme-fire-08 );
}

[layer="set"] [prop="transitionmetal"] {
    --pt-bg: var( --pt-scheme-fire-10 );
}

[layer="set"] [prop="halogen"] {
    --pt-bg: var( --pt-scheme-fire-01 );
}

[layer="set"] [prop="noblegas"] {
    --pt-bg: var( --pt-scheme-ice-03 );
}