.pt-shell {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 24px;
}

.pt-shell-model .shells circle {
    fill: none;
    stroke: var( --gray-4 );
    stroke-width: 0.25;
}

.pt-shell-model .electrons {
    transform: rotate( -90deg );
    transform-origin: center;
}

.pt-shell-model .electrons circle {
    fill: none;
    stroke: var( --accent-1 );
    stroke-width: 4;
    stroke-linecap: round;
}

.pt-shell-model .nucleus {
    fill: var( --accent-3 );
}

.pt-shell-info {
    white-space: nowrap;
}

.pt-shell-line {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
}

@media all and ( max-width: 800px ) {

    .pt-shell {
        grid-template-columns: 1fr;
    }

}