.pt-prop-table.sortable .pt-prop-table-label[sort-dir="asc"] {
    --arrow: url( data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw== );
}

.pt-prop-table.sortable .pt-prop-table-label[sort-dir="desc"] {
    --arrow: url( data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs= );
}

.pt-prop-table.sortable .pt-prop-table-label[sort-key] {
    padding: 0;
}

.pt-prop-table.sortable .pt-prop-table-label div {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 32px;
    padding: 5px 10px;
    cursor: pointer;
}

.pt-prop-table.sortable .pt-prop-table-label.sort div::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: var( --accent-1 );
}

.pt-prop-table.sortable .pt-prop-table-label.right div {
    flex-direction: row-reverse;
}

.pt-prop-table.sortable .pt-prop-table-label div i {
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    background-image: var( --arrow, none );
    background-position: center;
    background-repeat: no-repeat;
}

body[theme="dark"] .pt-prop-table.sortable .pt-prop-table-label div i {
    filter: invert( 1 );
}