[theme="light"] {

    --gray-0: #ffffff;
    --gray-1: #f5f6f7;
    --gray-2: #d3d4d5;
    --gray-3: #b2b3b4;
    --gray-4: #202121;
    --gray-5: #010203;
    --gray-6: #000000;

    --color-main: var( --gray-5 );
    --color-bg: var( --gray-1 );

    --accent-1: #2a80ad;
    --accent-2: #55c1fa;
    --accent-3: #f25949;

    --box-shadow: 2px 2px 4px rgba( 230 230 230 / 0.25 );

}

[theme="dark"] {

    --gray-0: #000000;
    --gray-1: #202121;
    --gray-2: #3a3a3b;
    --gray-3: #565657;
    --gray-3: #737373;
    --gray-4: #f5f6f7;
    --gray-5: #ffffff;

    --color-main: var( --gray-4 );
    --color-bg: var( --gray-1 );

    --accent-1: #55c1fa;
    --accent-2: #2a80ad;
    --accent-3: #f58479;

    --box-shadow: 2px 2px 4px rgba( 0 0 0 / 0.25 );

}