.pt-toxicity-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.pt-toxicity-icon {
    flex: 0 0 32px;
    font-size: 26px;
}

.pt-toxicity-info {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

.pt-toxicity-meta span:not(:last-of-type)::after {
    content: ', ';
}