/**
 * periodic table
 * template: abundance page
 */

.pt-abundance-chart {
    display: grid;
    grid-template-columns: repeat( 32, 1fr );
    margin: 48px 24px;
}

.pt-abundance-chart-item {
    display: grid;
    grid-template-rows: 240px auto;
    gap: 12px;
    text-align: center;
    font-size: 14px;
    color: var( --accent-1 );
}

.pt-abundance-chart-item:hover {
    text-decoration: underline;
}

.pt-abundance-chart-column {
    position: relative;
}

.pt-abundance-chart-column-inner {
    position: absolute;
    left: calc( 50% - 4px );
    bottom: 0;
    width: 8px;
    height: var( --pct, 0% );
    background: var( --accent-1 );
    border-radius: 4px;
}