@import 'sitemap';

.pt-data-disclaimer {
    font-weight: bold;
    color: var( --accent-3 );
}

.pt-data-desc {
    margin-bottom: 6px;
}

.pt-data-info {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
}

.pt-data .pt-sitemap {
    gap: 24px 48px;
    margin: 32px 0;
}