@import 'page';

.pt-decay-chain {
    width: 100%;
    aspect-ratio: 3/1;
    background: var( --color-bg );
    border-radius: 12px;
    cursor: grab;
}

@media ( max-width: 900px ) {

    .pt-decay-chain {
        aspect-ratio: 1/3;
    }

}