/**
 * periodic table
 * single element page
 */

.pt-element {
    display: grid;
    grid-template-columns: 1fr 460px;
    gap: 24px;
    margin: var( --padding ) auto;
    max-width: var( --content );
}

.pt-element-intro .element--title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}

.pt-element-intro .element--title .element--symbol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: auto;
    min-width: 36px;
    height: 36px;
    padding: 0 8px;
    font-size: 20px;
    color: var( --accent-contrast );
    background: var( --accent-1 );
}

.pt-element-intro .element--title .element--symbol .symbol--number {
    padding-top: 6px;
    font-size: 12px;
}

.pt-element-hazard h3 {
    margin-top: 24px;
}

.pt-element-hazard-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
}

.pt-element-hazard-statements .hazard--line b {
    padding-right: 8px;
}

.pt-element-hazard-pictograms {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 12px;
}

.pt-element-hazard i {
    color: var( --gray-3 );
}

.pt-element-footer {
    grid-column: span 2;
}