@import 'page';

.pt-glossary h2 {
    margin-top: 48px;
}

.pt-glossary-grid {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    gap: 24px 48px;
}

.pt-glossary-pictogram span {
    place-self: center;
}

@media all and ( max-width: 1200px ) {

    .pt-glossary-grid {
        grid-template-columns: repeat( 2, 1fr );
    }

}

@media all and ( max-width: 800px ) {

    .pt-glossary-grid {
        grid-template-columns: 1fr;
    }

}