/**
 * periodic table
 * site header
 */

/**
 * define variables
 */

$header-height: 56px;

/**
 * header styles
 */

.pt-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    height: $header-height;
    background: var( --gray-0 );
}

.pt-header-logo,
.pt-header-menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $header-height;
    height: $header-height;
    font-size: 32px;
}

.pt-header-menu.active {
    color: var( --gray-0 );
    background: var( --accent-1 );
}

.pt-header-menu.active .open,
.pt-header-menu:not(.active) .close {
    display: none;
}

.pt-header-search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pt-header-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
}

.pt-header-nav {
    flex: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
}