/**
 * periodic table
 * site header
 */

/**
 * define variables
 */

$header-height: 56px;

/**
 * header styles
 */

.pt-header {
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    height: $header-height;
    background: var( --gray-0 );
    box-shadow: var( --box-shadow );
    z-index: 99;
}

.pt-header-logo,
.pt-header-menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $header-height;
    height: $header-height;
    font-size: 32px;
}

.pt-header-menu.active .open,
.pt-header-menu:not(.active) .close {
    display: none;
}

.pt-header-search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pt-header-settings {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
}

.pt-header-nav {
    flex: none;
    position: absolute;
    top: $header-height;
    left: 0;
    right: 0;
    display: none;
    padding: 24px;
    background: var( --gray-0 );
    box-shadow: var( --box-shadow );
}

.pt-header-nav.active {
    display: block;
}

.pt-header-nav .pt-nav {
    display: grid;
    grid-template-columns: repeat( 5, 1fr );
    gap: 4px;
}

.pt-header-nav .pt-nav .pt-nav-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 12px;
    padding: 0 12px;
    height: 48px;
    background: var( --gray-1 );
}

.pt-header-nav .pt-nav .pt-nav-item:hover {
    filter: brightness( 0.9 );
}

.pt-header-nav .pt-nav .pt-nav-item .icon {
    text-align: center;
    font-size: 26px;
}