/**
 * periodic table
 * template: isotable
 */

.pt-isotable {
    white-space: nowrap;
}

.pt-isotable .pt-prop-table-label {
    width: auto !important;
}

.pt-isotable .pt-prop-table-value {
    padding: 0 10px;
}

.pt-isotable-decay {
    display: flex;
    gap: 0 6px;
}