/**
 * periodic table
 * template: element list
 */

.pt-lists {
    display: grid;
    grid-template-columns: repeat( 2, 1fr );
    gap: 0 48px;
}

.pt-lists-item-title a {
    color: var( --accent-1 );
}

.pt-lists-item-title a:hover {
    text-decoration: underline;
}