/**
 * periodic table
 * template: element-list
 */

 @import 'pt';

.pt-element-list {
    display: grid;
    grid-template-columns: repeat( 3, 1fr );
    gap: 12px;
}

.pt-element-list-item {
    display: grid;
    grid-template-columns: 64px 1fr;
    gap: 12px;
    height: 64px;
}

.pt-element-list-item .element--symbol {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 20px;
    color: var( --color, var( --color-main ) );
    background: var( --bg, var( --gray-1 ) );
}

.pt-element-list-item.radioactive .element--symbol {
    background: repeating-linear-gradient(
        -45deg,
        var( --bg, var( --gray-1 ) ),
        var( --bg, var( --gray-1 ) ) 6px,
        var( --gray-0 ) 6px,
        var( --gray-0 ) 12px
    );
}

.pt-element-list-item .element--symbol .symbol--number {
    padding-top: 6px;
    font-size: 12px;
}

.pt-element-list-item .element--info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 4px;
    min-width: 0;
}

.pt-element-list-item .element--info .element--name {
    align-self: flex-start;
    font-weight: bold;
    color: var( --accent-1 );
}

.pt-element-list-item .element--info .element--name:hover {
    text-decoration: underline;
}

.pt-element-list-item .element--info .element--desc {
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
}