/**
 * periodic table
 * template: microtable
 */

@import 'pt';

.pt-microtable {
    display: grid;
    grid-template-columns: repeat( 32, 1fr );
    gap: 4px;
}

.pt-microtable-item {
    grid-column: var( --g );
    grid-row: var( --p );
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 14px;
    color: var( --color, var( --color-main ) );
    background: var( --bg, var( --gray-0 ) );
}

.pt-microtable-item.radioactive {
    background: repeating-linear-gradient(
        -45deg,
        var( --bg, var( --gray-0 ) ),
        var( --bg, var( --gray-0 ) ) 6px,
        var( --gray-0 ) 6px,
        var( --gray-0 ) 12px
    );
}

.pt-microtable-item.current {
    outline: 1px solid var( --gray-5 );
}