/**
 * periodic table
 * template: microtable
 */

@import 'pt';

.pt-microtable {
    display: grid;
    grid-template-columns: repeat( 32, 1fr );
    gap: 4px;
}

.pt-el {
    grid-column: var( --g );
    grid-row: var( --p );
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 14px;
    background: var( --color, var( --color-main ) );
    background: var( --bg, var( --gray-0 ) );
}