/**
 * periodic table
 * pt colors
 */

body[theme="light"] {

    --pt-ye-1: #eeeebb; --pt-ye-2: #eaeaac; --pt-ye-3: #e7e79d;
    --pt-ye-4: #e3e38d; --pt-ye-5: #dFdf7e; --pt-ye-6: #dbdb6f;
    --pt-ye-7: #d8d860; --pt-ye-8: #d4d450; --pt-ye-9: #d0d041;

    --pt-or-1: #ffd8aa; --pt-or-2: #ffcf97; --pt-or-3: #ffc784;
    --pt-or-4: #ffbe71; --pt-or-5: #ffb55e; --pt-or-6: #ffac4b;
    --pt-or-7: #ffa438; --pt-or-8: #ff9b25; --pt-or-9: #ff9212;

    --pt-re-1: #fad4d4; --pt-re-2: #f8c3c3; --pt-re-3: #f6b2b2;
    --pt-re-4: #f4a0a0; --pt-re-5: #f28f8f; --pt-re-6: #f07e7e;
    --pt-re-7: #ee6d6d; --pt-re-8: #ec5b5b; --pt-re-9: #ea4a4a;

    --pt-pi-1: #f3dff3; --pt-pi-2: #eed1ee; --pt-pi-3: #e9c3e9;
    --pt-pi-4: #e3b5e3; --pt-pi-5: #dea7de; --pt-pi-6: #d999d9;
    --pt-pi-7: #d48bd4; --pt-pi-8: #ce7dce; --pt-pi-9: #c96fc9;

    --pt-bl-1: #d7eefd; --pt-bl-2: #c5e6fc; --pt-bl-3: #b3dffb;
    --pt-bl-4: #a0d7fa; --pt-bl-5: #8ecff9; --pt-bl-6: #7cc7f8;
    --pt-bl-7: #6ac0f7; --pt-bl-8: #57b8f6; --pt-bl-9: #45b0f5;

    --pt-tu-1: #cef2ec; --pt-tu-2: #bfeee6; --pt-tu-3: #b0eae1;
    --pt-tu-4: #a1e6db; --pt-tu-5: #92e2d5; --pt-tu-6: #83decf;
    --pt-tu-7: #74daca; --pt-tu-8: #65d6c4; --pt-tu-9: #56d2be;

    --pt-gr-1: #baeeab; --pt-gy-2: #adeb9b; --pt-gr-3: #a0e88b;
    --pt-gr-4: #93e47b; --pt-gy-5: #86e16b; --pt-gr-6: #79de5b;
    --pt-gr-7: #6cdb4b; --pt-gy-8: #5fd73b; --pt-gr-9: #52d42b;

    --pt-gy-1: #e2e2e2; --pt-gy-2: #d8d8d8; --pt-gy-3: #cfcfcf;
    --pt-gy-4: #c5c5c5; --pt-gy-5: #bbbbbb; --pt-gy-6: #b1b1b1;
    --pt-gy-7: #a8a8a8; --pt-gy-8: #9e9e9e; --pt-gy-9: #949494;

    --pt-radioactive: rgba( 255 255 255 / 0.5 );

}

body[theme="dark"] {

    --pt-ye-1: #69691a; --pt-ye-2: #767620; --pt-ye-3: #838326;
    --pt-ye-4: #90902c; --pt-ye-5: #9e9e32; --pt-ye-6: #abab37;
    --pt-ye-7: #b8b83d; --pt-ye-8: #c5c543; --pt-ye-9: #d2d249;

    --pt-or-1: #834700; --pt-or-2: #935104; --pt-or-3: #a25b08;
    --pt-or-4: #b2650b; --pt-or-5: #c16f0f; --pt-or-6: #d17913;
    --pt-or-7: #e08317; --pt-or-8: #f08d1a; --pt-or-9: #ff971e;

    --pt-re-1: #730d0d; --pt-re-2: #821212; --pt-re-3: #901616;
    --pt-re-4: #9f1b1b; --pt-re-5: #ae2020; --pt-re-6: #bc2424;
    --pt-re-7: #cb2929; --pt-re-8: #d92d2d; --pt-re-9: #e83232;

    --pt-pi-1: #642d63; --pt-pi-2: #6f356e; --pt-pi-3: #7a3d79;
    --pt-pi-4: #854584; --pt-pi-5: #914d8f; --pt-pi-6: #9c559a;
    --pt-pi-7: #a75da5; --pt-pi-8: #b265b0; --pt-pi-9: #bd6dbb;

    --pt-bl-1: #065080; --pt-bl-2: #0a5b8f; --pt-bl-3: #0f669d;
    --pt-bl-4: #1370ac; --pt-bl-5: #187bbb; --pt-bl-6: #1c86c9;
    --pt-bl-7: #2091d8; --pt-bl-8: #259be6; --pt-bl-9: #29a6f5;

    --pt-tu-1: #067570; --pt-tu-2: #09857f; --pt-tu-3: #0D958f;
    --pt-tu-4: #10a49e; --pt-tu-5: #14b4ad; --pt-tu-6: #17c4bc;
    --pt-tu-7: #1ad4cc; --pt-tu-8: #1ee3db; --pt-tu-9: #21f3ea;

    --pt-gr-1: #2b7017; --pt-gr-2: #337d1d; --pt-gr-3: #3a8a23;
    --pt-gr-4: #429729; --pt-gr-5: #49a52f; --pt-gr-6: #51b234;
    --pt-gr-7: #58bf3a; --pt-gr-8: #60cc40; --pt-gr-9: #67d946;

    --pt-gy-1: #3b3b3b; --pt-gy-2: #454545; --pt-gy-3: #4e4e4e;
    --pt-gy-4: #585858; --pt-gy-5: #616161; --pt-gy-6: #6b6b6b;
    --pt-gy-7: #747474; --pt-gy-8: #7e7e7e; --pt-gy-9: #878787;

    --pt-radioactive: rgba( 0 0 0 / 0.5 );

}

[layer="group"] .pt-el[prop="13"],
[layer="set"] .pt-el[prop="halogen"],
[layer="block"] .pt-el[prop="d"],
[layer="phase"] .pt-el[prop="solid"],
[layer="crystal_structure"] .pt-el[prop="tetr"] {
    --bg: var( --pt-ye-1 );
}

[layer="group"] .pt-el[prop="14"],
[layer="goldschmidt"] .pt-el[prop="chalcophile"],
[layer="basicity"] .pt-el[prop="amphoterism"],
[layer="radioactivity"] .pt-el[prop="slightly-radioactive"],
[layer="era"] .pt-el[prop="enlightenment"] {
    --bg: var( --pt-ye-3 );
}

[layer="group"] .pt-el[prop="15"] {
    --bg: var( --pt-ye-5 );
}

[layer="crystal_structure"] .pt-el[prop="hex"] {
    --bg: var( --pt-ye-7 );
}

[layer="set"] [prop="metalloid"],
[layer="crystal_structure"] .pt-el[prop="bcc"] {
    --bg: var( --pt-or-1 );
}

[layer="group"] .pt-el[prop="17"],
[layer="period"] .pt-el[prop="5"],
[layer="set"] .pt-el[prop="alkalineearthmetal"],
[layer="superconductivity"] .pt-el[prop="special"],
[layer="goldschmidt"] .pt-el[prop="lithophile"],
[layer="magnetic_ordering"] .pt-el[prop="antiferromagnetic"],
[layer="natural_occurrence"] .pt-el[prop="decay"],
[layer="radioactivity"] .pt-el[prop="radioactive"],
[layer="era"] .pt-el[prop="revolution"] {
    --bg: var( --pt-or-3 );
}

[layer="crystal_structure"] .pt-el[prop="fcc"],
[layer="prop"] .pt-el[prop="1"] {
    --bg: var( --pt-or-5 );
}

[layer="set"] .pt-el[prop="transitionmetal"],
[layer="block"] .pt-el[prop="f"],
[layer="crystal_structure"] .pt-el[prop="hcp"],
[layer="basicity"] .pt-el[prop="slightly-acidic"] {
    --bg: var( --pt-re-1 );
}

[layer="group"] .pt-el[prop="3"],
[layer="group"] .pt-el[prop="4"],
[layer="group"] .pt-el[prop="5"],
[layer="group"] .pt-el[prop="6"],
[layer="group"] .pt-el[prop="7"],
[layer="group"] .pt-el[prop="8"],
[layer="group"] .pt-el[prop="9"],
[layer="group"] .pt-el[prop="10"],
[layer="group"] .pt-el[prop="11"],
[layer="group"] .pt-el[prop="12"],
[layer="period"] .pt-el[prop="6"],
[layer="set"] .pt-el[prop="alkalimetal"],
[layer="superconductivity"] .pt-el[prop="none"],
[layer="goldschmidt"] .pt-el[prop="siderophile"],
[layer="basicity"] .pt-el[prop="moderately-acidic"],
[layer="radioactivity"] .pt-el[prop="highly-radioactive"],
[layer="era"] .pt-el[prop="classifying"] {
    --bg: var( --pt-re-3 );
}

[layer="crystal_structure"] .pt-el[prop="dhcp"],
[layer="basicity"] .pt-el[prop="acidic"] {
    --bg: var( --pt-re-5 );
}

[layer="basicity"] .pt-el[prop="strongly-acidic"] {
    --bg: var( --pt-re-7 );
}

[layer="group"] .pt-el[prop="19"],
[layer="set"] .pt-el[prop="actinoide"] {
    --bg: var( --pt-pi-1 );
}

[layer="group"] .pt-el[prop="20"],
[layer="set"] .pt-el[prop="lanthanoide"],
[layer="period"] .pt-el[prop="1"],
[layer="crystal_structure"] .pt-el[prop="sc"],
[layer="magnetic_ordering"] .pt-el[prop="paramagnetic"],
[layer="radioactivity"] .pt-el[prop="significantly-radioactive"],
[layer="era"] .pt-el[prop="quantum"] {
    --bg: var( --pt-pi-3 );
}

[layer="set"] .pt-el[prop="noblegas"],
[layer="block"] .pt-el[prop="s"],
[layer="phase"] .pt-el[prop="liquid"],
[layer="basicity"] .pt-el[prop="slightly-alkaline"] {
    --bg: var( --pt-bl-1 );
}

[layer="group"] .pt-el[prop="18"],
[layer="period"] .pt-el[prop="2"],
[layer="crystal_structure"] .pt-el[prop="rho"],
[layer="basicity"] .pt-el[prop="moderately-alkaline"],
[layer="magnetic_ordering"] .pt-el[prop="ferromagnetic"],
[layer="era"] .pt-el[prop="synthesis"] {
    --bg: var( --pt-bl-3 );
}

[layer="basicity"] .pt-el[prop="alkaline"] {
    --bg: var( --pt-bl-5 );
}

[layer="basicity"] .pt-el[prop="strongly-alkaline"] {
    --bg: var( --pt-bl-7 );
}

[layer="crystal_structure"] .pt-el[prop="mon"] {
    --bg: var( --pt-tu-1 );
}

[layer="period"] .pt-el[prop="3"],
[layer="goldschmidt"] .pt-el[prop="atmophile"],
[layer="magnetic_ordering"] .pt-el[prop="diamagnetic"],
[layer="natural_occurrence"] .pt-el[prop="synthetic"],
[layer="radioactivity"] .pt-el[prop="extremely-radioactive"],
[layer="era"] .pt-el[prop="recent"] {
    --bg: var( --pt-tu-3 );
}

[layer="crystal_structure"] .pt-el[prop="dc"] {
    --bg: var( --pt-tu-5 );
}

[layer="set"] .pt-el[prop="nonmetal"],
[layer="block"] .pt-el[prop="p"],
[layer="phase"] .pt-el[prop="gas"] {
    --bg: var( --pt-gr-1 );
}

[layer="group"] .pt-el[prop="16"],
[layer="period"] .pt-el[prop="4"],
[layer="superconductivity"] .pt-el[prop="normal"],
[layer="crystal_structure"] .pt-el[prop="orth"],
[layer="basicity"] .pt-el[prop="neutral"] {
    --bg: var( --pt-gr-3 );
}

[layer="group"] .pt-el[prop="1"],
[layer="set"] .pt-el[prop="metal"],
[layer="natural_occurrence"] .pt-el[prop="primordial"] {
    --bg: var( --pt-gy-1 );
}

[layer="group"] .pt-el[prop="2"],
[layer="period"] .pt-el[prop="7"],
[layer="era"] .pt-el[prop="antiquity"] {
    --bg: var( --pt-gy-3 );
}

.pt-el {
    position: relative;
}

.pt-el * {
    position: relative;
    z-index: 1;
}

.pt-el.current {
    outline: 1px solid var( --gray-5 );
}

.pt-el.highlight {
    outline: 4px solid var( --gray-4 );
}

[layer="set"] .pt-el.gas {
    --accent: var( --accent-3 );
}

[layer="set"] .pt-el.liquid {
    --accent: var( --accent-1 );
}

.pt-el.radioactive[prop="undefined"] {
    --bg: transparent;
}

.pt-el.radioactive::before {
    content: '';
    flex: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 6px,
        var( --pt-radioactive ) 6px,
        var( --pt-radioactive ) 12px
    );
    z-index: 0;
}