/**
 * periodic table
 * pt colors
 */

body[theme="light"] {

    --pt-set-0: #ffc1aa;
    --pt-set-1: #ffd8aa;
    --pt-set-2: #eeeebb;
    --pt-set-3: #d7eefd;
    --pt-set-4: #e2e2e2;
    --pt-set-5: #fad4d4;
    --pt-set-6: #eed6bf;
    --pt-set-7: #baeeab;
    --pt-set-8: #f3dff3;
    --pt-set-9: #ecccec;

}

body[theme="dark"] {

    --pt-set-0: #832300;
    --pt-set-1: #834700;
    --pt-set-2: #69691a;
    --pt-set-3: #065080;
    --pt-set-4: #3b3b3b;
    --pt-set-5: #730d0d;
    --pt-set-6: #6a431c;
    --pt-set-7: #2b7017;
    --pt-set-8: #642d63;
    --pt-set-9: #431c43;

}

[layer="set"] .pt-el[prop="alkalimetal"] {
    --bg: var( --pt-set-0 );
}

[layer="set"] .pt-el[prop="alkalineearthmetal"] {
    --bg: var( --pt-set-1 );
}

[layer="set"] .pt-el[prop="halogen"],
[layer="block"] .pt-el[prop="d"],
[layer="phase"] .pt-el[prop="solid"] {
    --bg: var( --pt-set-2 );
}

[layer="set"] .pt-el[prop="noblegas"],
[layer="block"] .pt-el[prop="s"],
[layer="phase"] .pt-el[prop="liquid"] {
    --bg: var( --pt-set-3 );
}

[layer="set"] .pt-el[prop="metal"] {
    --bg: var( --pt-set-4 );
}

[layer="set"] .pt-el[prop="transitionmetal"],
[layer="block"] .pt-el[prop="f"] {
    --bg: var( --pt-set-5 );
}

[layer="set"] .pt-el[prop="metalloid"] {
    --bg: var( --pt-set-6 );
}

[layer="set"] .pt-el[prop="nonmetal"],
[layer="block"] .pt-el[prop="p"],
[layer="phase"] .pt-el[prop="gas"] {
    --bg: var( --pt-set-7 );
}

[layer="set"] .pt-el[prop="lanthanoide"] {
    --bg: var( --pt-set-8 );
}

[layer="set"] .pt-el[prop="actinoide"] {
    --bg: var( --pt-set-9 );
}

[toggle] .pt-el.hidden {
    opacity: 0.1;
}