/**
 * periodic table
 * quiz page
 */

.pt-quiz-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    margin-bottom: 48px;
}

.pt-quiz-form > div {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.pt-quiz-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 48px;
}

.pt-quiz-timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 38px;
    font-weight: bold;
}

.pt-quiz-progress {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 6px;
    font-family: 'Roboto Mono', monospace;
}

.pt-quiz-input input,
.pt-quiz-actions button {
    height: 42px;
    padding: 0 18px;
    font-size: 16px;
    border-radius: 21px;
    border: 0;
}

.pt-quiz-input {
    grid-column: span 2;
    position: relative;
}

.pt-quiz-input.hidden {
    pointer-events: none;
    filter: blur( 2px );
    opacity: 0.6;
}

.pt-quiz-input .icon {
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 20px;
    color: var( --gray-4 );
}

.pt-quiz-input input {
    width: 420px;
    padding-left: 44px;
    background: var( --gray-0 );
    border: 1px solid var( --gray-3 );
}

.pt-quiz-actions button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 8px;
    padding-left: 16px;
    color: var( --accent-contrast );
    background: var( --accent-1 );
    cursor: pointer;
}

.pt-quiz-actions button .icon {
    font-size: 22px;
}

.pt-quiz-actions button.hidden {
    display: none;
}

.pt-quiz-score {
    text-align: right;
}

.pt-quiz-score b {
    padding-right: 6px;
    font-family: 'Roboto Mono', monospace;
}

.pt-quiz-progress b,
.pt-quiz-score-now b {
    font-size: 26px;
}

/* periodic table */

.pt-quiz-table {
    display: grid;
    grid-template-columns: repeat( 18, 1fr );
    gap: 4px;
}

.pt-quiz-table-item,
.pt-quiz-table-gap,
.pt-quiz-table-label {
    grid-column: var( --g );
    grid-row: var( --p );
}

.pt-quiz-table-item {
    position: relative;
    aspect-ratio: 1/1;
    line-height: 1;
    font-weight: bold;
    background: var( --gray-0 );
}

.pt-quiz-table-item .element--number {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 13px;
}

.pt-quiz-table-item .element--symbol {
    position: absolute;
    right: 8px;
    bottom: 6px;
    font-size: 26px;
}

.pt-quiz-table-gap {
    height: 24px;
}

/* elements list */

.pt-quiz-list {
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    gap: 4px;
}

.pt-quiz-list-item {
    display: grid;
    grid-template-columns: 48px 1fr;
    align-items: center;
    gap: 4px;
    height: 32px;
    background: var( --gray-1 );
}

.pt-quiz-list-item .element--number {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.pt-quiz-list-item .element--name {
    font-size: 14px;
}

.pt-quiz-table-item.revealed,
.pt-quiz-list-item.revealed {
    color: var( --accent-contrast );
    background: var( --accent-1 );
}