/**
 * periodic table
 * quiz page
 */

.pt-quiz-table {
    display: grid;
    grid-template-columns: repeat( 18, 1fr );
    gap: 4px;
}

.pt-quiz-table-item,
.pt-quiz-table-gap,
.pt-quiz-table-label {
    grid-column: var( --g );
    grid-row: var( --p );
}

.pt-quiz-table-item {
    position: relative;
    aspect-ratio: 1/1;
    line-height: 1;
    font-weight: bold;
    background: var( --gray-0 );
}

.pt-quiz-table-item.revealed {
    color: var( --accent-contrast );
    background: var( --accent-1 );
}

.pt-quiz-table-item .element--number {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 13px;
}

.pt-quiz-table-item .element--symbol {
    position: absolute;
    right: 8px;
    bottom: 6px;
    font-size: 26px;
}

.pt-quiz-table-gap {
    height: 24px;
}