/**
 * periodic table
 * template: microtable
 */

@import 'pt';

.pt-scale-table-color {
    width: 32px;
    height: 32px;
    padding: 0;
}

.pt-scale-table tbody .pt-scale-table-color {
    background: var( --bg, var( --gray-0 ) ) !important;
}