@import 'page';
@import 'table';
@import 'sort';

.pt-scale-table-color {
    width: 32px;
    height: 32px;
    padding: 0;
    background: var( --pt-bg, var( --gray-0 ) ) !important;
}

@media all and ( max-width: 700px ) {

    .pt-scale-table-color {
        display: none;
    }

}