/**
 * periodic table
 * template: shell model
 */

.pt-shell {
    display: grid;
    grid-template-columns: 1fr 200px;
    gap: 24px;
}

.pt-shell-model .shell {
    fill: none;
    stroke: var( --gray-4 );
    stroke-width: 0.25;
}

.pt-shell-model .nucleus {
    fill: var( --accent-3 );
}

.pt-shell-info {
    white-space: nowrap;
}

.pt-shell-line {
    display: flex;
    flex-flow: row nowrap;
    gap: 6px;
}