@import url( 'https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,700;1,900&family=Roboto:wght@100;400;700&display=swap' );

$font-main: 'Roboto';

$color-bg: #f5f6f7;

body {
    margin: 0;
    font-family: $font-main;
    background: $color-bg;
}