/**
 * periodic table
 * template: microtable
 */

@import 'pt';

.pt-periodic-table {
    display: grid;
    grid-template-columns: repeat( 18, 1fr );
    gap: 4px;
}

.pt-periodic-table-item,
.pt-periodic-table-gap,
.pt-periodic-table-label {
    grid-column: var( --g );
    grid-row: var( --p );
}

.pt-periodic-table-item {
    aspect-ratio: 1/1;
    line-height: 1;
    font-weight: bold;
    color: var( --color, var( --color-main ) );
    background: var( --bg, var( --gray-0 ) );
    transform: scale( var( --sf, 1 ) );
}

.pt-periodic-table-item .element--number {
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 13px;
}

.pt-periodic-table-item .element--symbol {
    position: absolute;
    right: 8px;
    bottom: 6px;
    font-size: 26px;
    color: var( --accent, inherit );
}

.pt-periodic-table-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pt-periodic-table-group {
    place-self: center flex-start;
}

.pt-periodic-table-gap {
    height: 24px;
}