//- 404 page
extends page.pug

block styles
  link( rel= 'stylesheet', href= '/css/404.css' )/

block content
  div.pt-page.pt-box.pt-404
    h1!= __( '404-title' )
    p.pt-page-intro!= __( '404-description' )
    include templates/searchform.pug
    div.pt-sitemap
      each page in [ 'sitemap', 'glossary' ]
        div.pt-sitemap-item
          h3
            a(
              href= core.url( '/' + page )
            )!= __( page + '-title' )
          p!= __( page + '-description' )
  div.pt-page
    include templates/microtable.pug