// _header.pug
head
  meta( charset="UTF-8" )/
  meta( name="viewport", content="width=device-width, initial-scale=1.0" )/
  link( rel="icon", sizes="16x16 32x32 48x48 64x64", href="img/favicon.ico" )/
  title #{__( site + '-title' )} — #{__( 'title' )}
body
  header#header