//- abundance.pug
extends layout.pug

block styles
  link( rel="stylesheet", href="/css/lists.css" )/

block content
  div.pt-page.pt-box
    include templates/breadcrumbs.pug
    h1!= __( 'abundances-title' )
    p.pt-page-intro!= __( 'abundances-description' )
    div.pt-lists
      each abundance in Object.keys( config.abundances )
        div.pt-lists-item
          h3.pt-lists-item-title
            a( href='/abundance/' + abundance )!= __( abundance + '-abundance' )
          p.pt-lists-item-desc!= __( abundance + '-abundance-description' )