//- element page
extends page.pug

block title
  - var title = __( 'element-title', page.element.name )
  title= title + ' — ' + __( 'periodic-table' )

block social
  meta( property= 'og:title', content= title )/

block styles
  link( rel= 'stylesheet', href= '/css/element.css' )/

block content
  div.pt-page.pt-element

    //- main
    div.pt-element-main

    //- aside
    aside.pt-element-aside