//- list.pug
extends layout.pug

block title
  - var title = __( 'list-title', __( list.layer + '-label' ), __( list.layer + '-' + list.value ) )
  - var description = __( list.layer + '-' + list.value + '-description' )
  title!= title + " — " + __( 'title' )
  meta( name="description", content= description )/

block social
  meta( property="og:title", content= title )/
  meta( property="og:description", content= description )/

block styles
  link( rel="stylesheet", href="/css/list.css" )/
  link( rel="stylesheet", href="/css/microtable.css" )/
  link( rel="stylesheet", href="/css/legend.css" )/

block content
  div.pt-page.pt-box.pt-list
    include templates/breadcrumbs.pug
    h1!= title
    p.pt-page-intro!= description
    include templates/list.pug
  div.pt-page
    include templates/microtable.pug
    include templates/legend.pug