//- list page (single prop)
extends page.pug

block title
  - var title = __( 'list-title', __( page.list.name + '-label' ), __( page.list.name + '-' + page.list.prop ) )
  - var description = __( page.list.name + '-' + page.list.prop + '-description' )
  title= title + ' — ' + __( 'periodic-table' )
  meta( name= 'description', content= description )/

block social
  meta( property= 'og:title', content= title )/
  meta( property= 'og:description', content= description )/

block styles
  link( rel= 'stylesheet', href= '/css/list.css' )/

block content
  div.pt-page.pt-box.pt-list
    include templates/breadcrumbs.pug
    h1!= title
    p.pt-page-intro!= description
    include templates/elementlist.pug
  div.pt-page
    include templates/microtable.pug