//- nuclides map
extends page.pug

block styles
  link( rel= 'stylesheet', href= '/css/page.css' )/

block content
  div.pt-page.pt-box.pt-nuclides
    include templates/breadcrumbs.pug
    h1= __( 'nuclides-title' )
    p.pt-page-intro= __( 'nuclides-description' )