//- page.pug (default layout)
doctype html
html( lang= locale )

  //- html header
  head
    meta( charset= 'UTF-8' )/
    meta( name= 'viewport', content= 'width=device-width, initial-scale=1.0' )/
    meta( name= 'msapplication-TileColor', content= '#ffffff' )/
    meta( name= 'theme-color', content= '#2a80ad' )/
    link( rel= 'icon', sizes= '16x16 32x32 48x48 64x64', href= '/res/favicon.ico' )/
    link( rel= 'canonical', href= canonical )/
    block title
      title= __( site + '-title' ) + ' — ' + __( 'periodic-table' )
      meta( name= 'description', content= __( site + '-description' ) )/
    meta( name= 'robots', content= 'all, max-image-preview:standard' )/
    meta( name= 'format-detection', content= 'telephone=no' )/
    meta( property= 'og:type', content= 'website' )/
    meta( property= 'og:site_name', content= __( 'periodic-table' ) )/
    meta( property= 'og:url', content= canonical )/
    block social
      meta( property= 'og:title', content= __( site + '-title' ) )/
      meta( property= 'og:description', content= __( site + '-description' ) )/
    block styles
      link( rel= 'stylesheet', href= '/css/page.css' )

  //- html content
  body( theme= theme )

    //- header
    header#header.pt-header( role= 'banner' )
      div.pt-header-left
        a.pt-header-menu( href= '#', title= __( 'nav' ) )
          i.icon.open menu
          i.icon.close close
        a.pt-header-logo( href= core.url( '/' ), title= __( 'periodic-table' ) )
          svg.pt-atom( width= '32', height= '32' )
            use( xlink:href= '/res/atom.svg#atom' )
        a.pt-header-title( href= core.url( '/' ) )
          span!= __( 'periodic-table' )
      div.pt-header-right
        div.pt-header-settings
          include templates/language-selector.pug
          include templates/theme-selector.pug

    //- main content
    main#main.pt-wrapper( role= 'main' )
      block content

    //- footer
    footer#footer.pt-footer
      a.pt-footer-logo( href= core.url( '/' ), title= __( 'periodic-table' ) )
        svg.pt-atom( width= '32', height= '32' )
          use( xlink:href= '/res/atom.svg#atom' )
      div.pt-footer-inner
        nav.pt-footer-nav
          a( href= core.url( '/sitemap' ) )!= __( 'sitemap' )
          a( href= core.url( '/tools' ) )!= __( 'tools-title' )
          a( href= core.url( '/glossary' ) )!= __( 'glossary-title' )
          a( href= core.url( '/data' ) )!= __( 'data-title' )
          a( href= core.url( '/privacy' ) )!= __( 'privacy-title' )
          a( href= 'https://github.com/komed3/periodic-table', target= '_blank' )!= __( 'github' )
          a( href= 'https://github.com/komed3/periodic-table/issues', target= '_blank' ).red!= __( 'bug-report' )
        p.pt-footer-credits!= __( 'credits', ( new Date() ).getFullYear() )