doctype html
html( lang= locale )
  //- html header
  head
    meta( charset= 'UTF-8' )/
    meta( name= 'viewport', content= 'width=device-width, initial-scale=1.0' )/
    meta( name= 'msapplication-TileColor', content= '#ffffff' )/
    meta( name= 'theme-color', content= '#2a80ad' )/
    link( rel= 'icon', sizes= '16x16 32x32 48x48 64x64', href= '/res/favicon.ico' )/
    block title
      title= __( site + '-title' )
      meta( name= 'description', content= __( site + '-description' ) )/
    meta( name= 'robots', content= 'all, max-image-preview:standard' )/
    meta( name= 'format-detection', content= 'telephone=no' )/
  //- html content
  body( theme= theme )