//- periodic table quiz page
extends page.pug

block styles
  link( rel= 'stylesheet', href= '/css/quiz.css' )/

block content
  div.pt-page
  div.pt-page.pt-box.pt-quiz
    h1!= __( 'quiz-title' )
    p.pt-page-intro!= __( 'quiz-description' )