//- scale.pug
extends layout.pug

block title
  - var title = __( 'scale-title', __( scale.label ) )
  - var description = __( scale.label + '-description' )
  title= title + " — " + __( 'title' )
  meta( name="description", content= description )/

block social
  meta( property="og:title", content= title )/
  meta( property="og:description", content= description )/

block styles
  link( rel="stylesheet", href="/css/table.css" )/
  link( rel="stylesheet", href="/css/list.css" )/

block content
  div.pt-page.pt-scale
    include templates/pt.pug
  div.pt-page.pt-box
    include templates/breadcrumbs.pug
    h1= title
    p.pt-page-intro= description
    include templates/list.pug