//- sitemap
extends page.pug

block styles
  link( rel= 'stylesheet', href= '/css/sitemap.css' )/

block content
  div.pt-page.pt-box
    h1!= __( 'sitemap-title' )
    p.pt-page-intro!= __( 'sitemap-description' )

    //- tools
    h2.pt-sitemap-label
      a( href= core.url( '/tools' ) )!= __( 'tools-title' )
    ul.pt-sitemap.pt-sitemap-list
      each tool in config.get( 'tools' )
        li.pt-sitemap-item
          a( href= core.url( '/tool/' + tool ) )!= __( 'tool-' + tool + '-title' )

    //- lists
    h2.pt-sitemap-label
      a( href= core.url( '/lists' ) )!= __( 'lists-title' )
    ul.pt-sitemap.pt-sitemap-list
      each list in config.get( 'lists' )
        li.pt-sitemap-item
          a( href= core.url( '/list/' + list ) )!= __( list + '-label' )

    //- scales
    h2.pt-sitemap-label
      a( href= core.url( '/scales' ) )!= __( 'scales-title' )
    ul.pt-sitemap.pt-sitemap-list
      each scale, key in config.get( 'scales' )
        li.pt-sitemap-item
          a( href= core.url( '/scale/' + key ) )!= __( scale.label )

    //- properties
    h2.pt-sitemap-label
      a( href= core.url( '/props' ) )!= __( 'props-title' )
    ul.pt-sitemap.pt-sitemap-list
      each prop in config.get( 'properties' )
        li.pt-sitemap-item
          a( href= core.url( '/prop/' + prop ) )!= __( 'prop-' + prop )

    //- abundances
    h2.pt-sitemap-label
      a( href= core.url( '/abundances' ) )!= __( 'abundances-title' )
    ul.pt-sitemap.pt-sitemap-list
      each abundance in Object.keys( config.get( 'abundances' ) )
        li.pt-sitemap-item
          a( href= core.url( '/abundance/' + abundance ) )!= __( abundance + '-abundance' )