//- start.pug
extends layout.pug

block title
  title= __( 'title' )
  meta( name="description", content=__( 'description' ) )/

block social
  meta( property="og:title", content=__( 'title' ) )/
  meta( property="og:description", content=__( 'description' ) )/

block scripts
  script( src="/js/pt.min.js" )

block styles
  link( rel="stylesheet", href="/css/table.css" )/
  link( rel="stylesheet", href="/css/legend.css" )/

block content
  div.pt-page.pt-start
    include templates/pt.pug
    include templates/legend.pug