//- nuclear decay calculator
extends page.pug

block styles
  link( rel= 'stylesheet', href= '/css/tools.css' )/

block content
  div.pt-page.pt-box.pt-tool.pt-tool--nuclear-decay
    include templates/breadcrumbs.pug
    h1= __( 'tool-nuclear_decay-title' )
    p.pt-page-intro!= __( 'tool-nuclear_decay-description' )