//- templates/language-selector.pug
div.pt-language-selector
  div.pt-language-selector-inner
    i( class="icon pt-language-selector-icon" ) language
    select( set="locale", class="pt-language-selector-select", title=`${__( 'language' )}` )
      each lang in availableLanguages
        option( value=lang, selected=( lang == locale ? 'selected' : '' ) ) #{__( 'lang-' + lang )}