//- templates/legend.pug
if legend && legend.length > 0
  div.pt-legend.noselect( layer=table.layer )
    div.pt-legend-label= __( 'legend' )
    div.pt-legend-inner
      each item in legend
        if item != 'undefined'
          a.pt-legend-item( href= '/list/' + table.layer + '/' + item )
            span.pt-el.pt-legend-item-box( prop= item )
            span.pt-legend-item-label= __( table.layer + '-' + ( item || 'undefined' ) )