//- templates/nav.pug
-
  var links = [
    [ '/', 'grid_view', __( 'periodic-table' ) ],
    [ '/nuclides', 'grid_4x4', __( 'nuclides-title' ) ],
    [ '/ionization', 'move_up', __( 'ionization-title' ) ],
    [ '/spectrum', 'barcode_scanner', __( 'spectrum-title' ) ],
    [ '/abundances', 'public', __( 'abundances-title' ) ],
    [ '/quiz', 'quiz', __( 'quiz-title' ) ],
    null,
    [ '/tools', 'calculate', __( 'tools-title' ) ],
    [ '/tool/molar_mass', 'functions', __( 'tool-molar_mass-title' ) ],
    [ '/tool/nuclear_decay', 'warning', __( 'tool-nuclear_decay-title' ) ],
    [ '/tool/concentration', 'opacity', __( 'tool-concentration-title' ) ],
    [ '/tool/gas_law', 'air', __( 'tool-gas_law-title' ) ],
    [ '/tool/ph', 'straighten', __( 'tool-ph-title' ) ],
    [ '/tool/stoichiometry', 'bar_chart', __( 'tool-stoichiometry-title' ) ],
    null,
    [ '/lists', 'subject', __( 'lists-title' ) ],
    [ '/list/phase', 'total_dissolved_solids', __( 'phase-label' ) ],
    [ '/list/set', 'category', __( 'set-label' ) ],
    [ '/list/goldschmidt', 'hive', __( 'goldschmidt-label' ) ],
    [ '/list/era', 'school', __( 'era-label' ) ],
    [ '/list/superconductivity', 'electric_bolt', __( 'superconductivity-label' ) ],
    null,
    [ '/scales', 'earthquake', __( 'scales-title' ) ],
    [ '/scale/atomic_mass', 'scale', __( 'atomic-mass' ) ],
    [ '/scale/density', 'blur_on', __( 'density' ) ],
    [ '/scale/molar_volume', 'experiment', __( 'molar_volume' ) ],
    [ '/scale/negativity_pauling', 'hub', __( 'pauling-negativity' ) ],
    [ '/scale/price', 'paid', __( 'price' ) ],
    null,
    [ '/props', 'bookmarks', __( 'props-title' ) ],
    [ '/prop/radioactive', 'flare', __( 'prop-radioactive' ) ],
    [ '/prop/vital', 'favorite', __( 'prop-vital' ) ],
    [ '/prop/noble', 'diamond', __( 'prop-noble' ) ],
    [ '/prop/rare', 'brightness_empty', __( 'prop-rare' ) ],
    [ '/prop/antiquity', 'landscape', __( 'prop-antiquity' ) ],
    null,
    [ '/sitemap', 'sort', __( 'sitemap-title' ) ],
    [ '/glossary', 'dictionary', __( 'glossary-title' ) ],
    [ '/data', 'database', __( 'data-title' ) ]
  ];

div.pt-nav.noscrollbar.noselect
  each link in links
    if link == null
      div.pt-nav-divider
    else
      a(
        href= core.url( link[0] ),
        class= 'pt-nav-link' + (
          link[0] == navURL
            ? ' current'
            : ''
        )
      )
        i.icon= link[1]
        span!= link[2]