//- templates/nav.pug
-
  var links = [
    [ '/', 'grid_view', __( 'title' ) ],
    [ '/nuclides', 'grid_4x4', __( 'nuclides-title' ) ],
    [ '/sitemap', 'sort', __( 'sitemap-title' ) ],
    null,
    [ '/tools', 'function', __( 'tools-title' ) ],
    [ '/tool/mmc', 'science', __( 'mmc-title' ) ],
    null,
    [ '/lists/set', 'category', __( 'set-label' ) ],
    [ '/lists/phase', 'total_dissolved_solids', __( 'phase-label' ) ],
    [ '/lists/natural_occurrence', 'public', __( 'natural_occurrence-label' ) ],
    [ '/lists/goldschmidt', 'family_history', __( 'goldschmidt-label' ) ],
    [ '/lists/crystal_structure', 'hexagon', __( 'crystal_structure-label' ) ],
    [ '/lists/superconductivity', 'view_day', __( 'superconductivity-label' ) ],
    [ '/lists/magnetic_ordering', 'explore', __( 'magnetic_ordering-label' ) ],
    [ '/lists/era', 'school', __( 'era-label' ) ],
    null,
    [ '/scale/atomic_mass', 'scale', __( 'atomic-mass' ) ],
    [ '/scale/radius_empirical', 'expand', __( 'empirical-radius' ) ],
    [ '/scale/density', 'blur_linear', __( 'density' ) ],
    [ '/scale/negativity_pauling', 'hub', __( 'pauling-negativity' ) ],
    [ '/scale/hardness_mohs', 'gavel', __( 'mohs-hardness' ) ],
    null,
    [ '/prop/radioactive', 'flare', __( 'prop-radioactive' ) ],
    [ '/prop/natural', 'spa', __( 'prop-natural' ) ],
    [ '/prop/native', 'grid_goldenratio', __( 'prop-native' ) ],
    [ '/prop/vital', 'favorite', __( 'prop-vital' ) ],
    [ '/prop/mononuclidic', 'water_drop', __( 'prop-mononuclidic' ) ],
    [ '/prop/stable', 'token', __( 'prop-stable' ) ],
    [ '/prop/noble', 'diamond', __( 'prop-noble' ) ],
    [ '/prop/semiconductor', 'memory', __( 'prop-semiconductor' ) ],
    [ '/prop/light', 'airwave', __( 'prop-light' ) ],
    [ '/prop/heavy', 'weight', __( 'prop-heavy' ) ],
    [ '/prop/rare', 'brightness_empty', __( 'prop-rare' ) ],
    [ '/prop/platinum', 'aspect_ratio', __( 'prop-platinum' ) ],
    [ '/prop/refractory', 'hive', __( 'prop-refractory' ) ],
    [ '/prop/artificial', 'lens_blur', __( 'prop-artificial' ) ],
    [ '/prop/synthetic', 'deployed_code', __( 'prop-synthetic' ) ],
    [ '/prop/antiquity', 'landscape', __( 'prop-antiquity' ) ],
    null,
    [ '/glossary', 'dictionary', __( 'glossary-title' ) ],
    [ '/data', 'database', __( 'data-title' ) ]
  ];

div.pt-nav
  each link in links
    if link == null
      div.pt-nav-divider
    else
      a(
        href= link[0],
        class= 'pt-nav-item' + (
          link[0] == navURL
            ? ' current'
            : ''
        )
      )
        i.icon= link[1]
        span= link[2]