//- templates/searchform.pug
div.pt-searchform
  form.pt-searchform-inner( action="/s", method="get", autocomplete="off" )
    i( class="icon pt-searchform-icon" ) search
    input(
      type="text", name="q", value=search.query,
      spellcheck="false", class="pt-searchform-box",
      placeholder=__( 'search-placeholder' )
    )