//- templates/searchform.pug
div.pt-searchform
  form.pt-searchform-inner( action="/search", method="get" )
    input( type="text", name="q" value=search.query, placeholder=`${__( 'search-placeholder' )}`, class="pt-searchform-box" )
    i( class="icon pt-searchform-label" ) search