//- templates/searchform.pug
div.pt-searchform
  form.pt-searchform-inner( action="/search/", method="get", autocomplete="off" )
    i.icon.pt-searchform-icon search
    input.pt-searchform-box(
      type="text", name="q",
      value= search.query,
      placeholder= __( 'search-placeholder' ),
      spellcheck="false"
    )