//- templates/theme-selector.pug
div.pt-theme-selector
  if theme == 'dark'
    a( href="?theme=light", title=`${__( 'theme-dark' )}` )
      i( class="icon" ) dark_mode
  else
    a( href="?theme=dark", title=`${__( 'theme-light' )}` )
      i( class="icon" ) light_mode