//- templates/theme-selector.pug
div.pt-theme-selector
  a( href="#", set="theme", theme="light", title=`${__( 'theme' )}` )
    i( class="icon light" ) light_mode
    i( class="icon dark" ) dark_mode