//- templates/theme-selector.pug
div.pt-theme-selector
  if theme == 'dark'
    a( href= '/set?theme=light', title= __( 'theme-light' ) )
      i.icon dark_mode
  else
    a( href= '/set?theme=dark', title= __( 'theme-dark' ) )
      i.icon light_mode